.custom-table-th {
    background: transparent !important;
    color: #b8bbbf !important;
    font-weight: 500;
    border: none !important;
    padding: 20px !important;
}
.custom-table-td {
    padding: 20px;
}
.product-qty {
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid #dee2e6;
    padding: 0 10px;
}

.border-td {
    padding: 15px;
}
.tr-span {
    border: 1px solid #dee2e6;padding: 15px 25px;display: inline-block;border-radius: 5px;
}
.tr-sub-text {
    font-weight: 500;
}

::ng-deep .table>:not(caption)>*>* {
    padding: 0;
}
